.contenr{
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

}

.main{
  display: flex;
}

.fon{
  width: 275px;
  height: 455px;
  margin-top: 77px;
  background-color: #ffd500;
  border-radius: 10px;

}


.img{
  margin-left: 78px;
  margin-top: 80px;
  margin-bottom: 55px;
}


.get{
  text-align: center;
  margin-bottom: 30px;
}


.jpg{
  margin-left: 122px;
  border-radius: 25px;
}


/*

.form{
  margin-left: 71px;
  margin-top: 50px;
}

.list{
  display:block;
  width: 403px;
  height: 455px;
  margin-top: 77px;
  background-color: #04486d;
  border:4px solid #000;
  border-radius: 10px;

}
*/

.second{
  width: 405px;
  height: 460px;
  margin-top:77px;
  background-color:rgb(231, 231, 231);
  border-radius: 10px;
}

.form{
  display: block;
  width: 260px;
  margin-top: 53px;
  margin-left: 65px;

}

.div{
  display: block;
  display: flex;
}
.name{
  width: 190px;
  height: 25px;
  margin-top: 15px;
  margin-left: 30px;
  padding: 5px;
  border-radius: 10px;
}

.radio{
  margin-top: 25px;
  border-radius: 20px;

}

.hhh{
  margin-right: 10px;
}

.p{
  margin-top: 23px;
  padding-right: 10px;
}






